body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;

  /* Animated gradient background */
  background: linear-gradient(-45deg, #311595, #030020, #3b82f6, #030020);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define the gradient animation */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  width: 100%;
  max-width: 400px;
}

.todo-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  margin-left:-100px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.checkmark {
  font-size: 2rem;
  color: green;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #878686;
}

.input-container button {
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.input-container button:hover {
  background-color: #2563eb;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

li span {
  flex: 1;
}

li button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

li button:hover {
  background-color: #dc2626;
}
